<div class="clock-wrapper">

  <ng-template #clock>
    <div class="digits-wrapper">
      <div class="digits">
        <span>{{time['h'] != 'undifined' ? time['h']: '00'}}</span>
        <span> : </span>
        <span>{{time['m'] != 'undifined' ? time['m']: '00'}}</span>
        <span> : </span>
        <span>{{time['s'] != 'undifined' ? time['s']: '00'}}</span>
      </div>
      <div class="reset" (click)="resetClock()">
          <i class="lni-spinner-arrow"></i>
      </div>
    </div>
  </ng-template>

  <form (ngSubmit)='startClock()' [formGroup]="timeForm" *ngIf="isEditing;else clock">
    <div class='input-wrapper'>

      <div class="control">
        <div class="name">
          H
        </div>
        <input type="number" placeholder="00" formControlName="h">
      </div>
      <span>:</span>
      <div class="control">
        <div class="name">
          M
        </div>
        <input type="number" placeholder="00" formControlName="m">
      </div>
      <span>:</span>
      <div class="control">
        <div class="name">
          S
        </div>
        <input type="number" placeholder="00" formControlName="s">
      </div>
    </div>
    <div class='btn-wrapper'>
      <button type='submit' [disabled]='this.timeForm.controls["s"].value + this.timeForm.controls["m"].value + this.timeForm.controls["h"].value == 0'>
        <i class="lni-play"></i>
      </button>
    </div>
  </form>
</div>
